@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Paleta base de PROVETCU generada a partir del rojo #BD2E2C */
  --color-red-50: #fdf4f4;
  --color-red-100: #fae6e5;
  --color-red-200: #f5c7c6;
  --color-red-300: #eba09e;
  --color-red-400: #df6f6c;
  --color-red-500: #d1413f;
  --color-red-600: #BD2E2C; /* El color exacto solicitado */
  --color-red-700: #a42121;
  --color-red-800: #881e1e; /* El que usamos para botones y hover Navbar */
  --color-red-900: #711f1f;
  --color-red-950: #420d0d;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
